.header {
    width: 1110px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    &__logo {
        font-weight: 700;
        font-size: 25px;
        line-height: 30px;
        color: #101010;
    }
    &__icons {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 150px;
        img {
            width: 20px;
            height: 20px;
        }
    }
}